@import '../helpers/helpers';

.sidebar {
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 2px solid #EDEDF0;

  &__btn {
    border: 1px solid $primary-clr;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 180px;

    margin-bottom: 2rem;

    .icon {
      position: absolute;
      left: .6rem;
    }
  }

  ul {
    .sc {
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: .8rem;

      .arrowIcon {
        color: $primary-clr;
        font-size: 1.1rem;
        position: absolute;
        right: 0;
      }

      .subCategory {
        padding-left: 1rem;
        padding-top: .5rem;

        &__item {
          color: gray;
          padding-bottom: .7rem;

          &:first-child {
            padding-top: .5rem;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}