@import './styles/helpers/helpers';
@import './styles/utilities';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-size: .9rem !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}