.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1em;
}

// Components
.btn {
  border-radius: 6px;
  text-transform: capitalize;
  padding: .5rem .6rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;

  &-primary {
    color: #fff;
    border: 1px solid #2264D1;
    background-color: #2264D1;
  }

  &-secondary {
    color: #2264D1;
    border: 1px solid #2264D1;
    background-color: #fff;
  }

  &-slc {
    color: #787885;
    border: 1px solid #787885;
    background-color: #fff;
  }
}

// visibility
.show {
  display: block;
}

.hide {
  display: none;
}